@import url('../components/display/variables.css');

.hero {
  background-image: url('../assets/images/hero/hero1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  position: relative;
  display: grid;

  height: 100vh;

  color: #FFFFFF;

  aside {
    background-image: url('../assets/logos/logowhite.svg');
  }
  
  a {
    color: #FFFFFF;
  }

  h1 {
    align-self: center;
  }
}

footer {
  background: $lightgreen;
}
