@import url('./variables.css');

.footer {
  background: $lightgreen;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1180px;

  margin: 2rem 0 0;
  padding: 1.5rem 0;

  ul {
    display: flex;
    justify-content: flex-end;
  }

  .top {
    border-bottom: 1px solid $midgreen;
    padding-bottom: .5rem;
    margin-bottom: .5rem;

    li {
      margin-left: 1.875rem;
    }
    
    li:nth-child(1) {
      margin: 0;
    }

    a {
      color: $darkgrey;
      text-transform: uppercase;
    }
  }

  .bottom {
    font-size: .8em;
    font-weight: 600;

    li {
      margin-left: 1.2rem;
    }

    a {
      color: $darkgrey;
    }
  }
}
