@import url('./variables.css');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 0;

  /* img {
    width: 17.5rem;
  } */

  aside {
    width: 17.5rem;
    height: 2.5rem;

    background-image: url('../../assets/logos/logogrey.svg');
    background-repeat: no-repeat;
    background-size: 17.5rem;
  }

  ul {
    display: flex;
  }

  li {
    margin-left: 1.875rem;
  }
}
