@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap');
@import url('variables.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: $darkgrey;
  font-size: .875em;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 7em;
  line-height: 1.05em;
  letter-spacing: .02em;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 2.85em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.4em;
}

p {
  line-height: 1.4em;
}

a {
  text-decoration: none;
  color: $midgreen;
  font-weight: 600;
}

li {
  list-style: none;
}

button {
  background: $darkgreen;
  border: none;
  padding: .5rem 1rem;
  border-radius: 500px;

  text-transform: uppercase;
  color: #ffffff;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: .04em;

  cursor: pointer;
}

button:hover {
  background: $midgreen;
}

::placeholder {
  color: $midgreen;
  font-style: italic;
}

select {
  appearance: none;

  height: 2rem;
  color: $midgreen;
  font-size: 1em;
  font-style: italic;

  background: #ffffff;
  background-image: url('../../assets/icons/downarrow.svg');
  background-repeat: no-repeat;
  background-position: 95% 53%;
  background-size: 5.5%;

  border: 1px solid $lightgrey;
  border-radius: 0;

  padding: 0 6px;
}
