@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap');
@import url('variables.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: $darkgrey;
  font-size: .875em;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 2.85em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.4em;
}

p {
  line-height: 1.4em;
}

a {
  text-decoration: none;
  color: $midgreen;
  font-weight: 600;
}

li {
  list-style: none;
}
