@import url('../display/variables.css');

.signUpContainer {
  .grid {
    display: grid;
    grid-template-columns: 11.25rem 1fr;
    grid-column-gap: $colgap;
  }

  .imageUpload {
    border: 0;
    width: 11.25rem;
    height: 11.25rem;
    outline: none;
    color: transparent;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-color: $lightgrey; 
    cursor: pointer;

    margin-bottom: 1rem;
  }

  .imageUpload::-webkit-file-upload-button {
    visibility: hidden;
  }

  .imageUpload:hover {
    background-color: $darkgrey;
    color: $darkgrey;
  }

  h2 {
    border-bottom: $borderbottom;
    padding: 0 0 1px 0;
    margin: 0 0 1rem 0;
  }
}

#imageSubmit {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin-bottom: 1rem;
  }
}
