@import url('../display/variables.css');

.signUpContainer {

  .imageUpload {
    border: 0;
    width: 10rem;
    height: 10rem;
    outline: none;
    color: transparent;
    background-image: url('../../assets/icons/selectimage.svg');
    background-position: center;
    background-size: cover;
    background-color: $lightgrey; 
    cursor: pointer;

    margin-bottom: 1rem;
  }

  .imageUpload::-webkit-file-upload-button {
    visibility: hidden;
  }

  .imageUpload::before {
    /*content: 'CHOOSE FILE';
    display: inline-block;
    background: $darkgrey;
    border-radius: 5px;
    padding: .5rem 1rem;
    outline: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: .04em;
    cursor: pointer;*/
  }

  .imageUpload:hover {
    background-color: $darkgrey;
    color: $darkgrey;
  }

  h2 {
    border-bottom: $borderbottom;
    padding: 0 0 1px 0;
    margin: 0 0 1rem 0;
  }
}

#imageSubmit {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin-bottom: 1rem;
  }
}
