@import url('../display/variables.css');

.filters {
  width: 100%;
  border-top: solid $lightgrey 1px;
  border-bottom: solid $lightgrey 1px;
  padding: 1rem 0;

  display: flex;
  justify-content: center;

  margin: 0 0 2rem 0;

  form{
    width: 980px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h5 {
      font-size: .9em;
      display: flex;
      justify-content: space-between;

      span {
        font-weight: 400;
      }
    }

    p, li {
      font-size: .9em;
    }

    select, #slider {
      width: 12.5rem;
    }


    #dietary {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h5 {
        margin: 0 .4rem 0 0;
      }

      div {
        display: flex;

        ul{ 
          display: flex;
        }
      }

      div:nth-child(1) {
        li:nth-child(1) {
          letter-spacing: .4px;
        }
      }

      div:nth-child(2) {
        position: relative;
        left: 14px;
      }

      input {
        margin: 0 .3rem 0 .5rem;
        height: 12px;
        border: 1px solid pink;
      }
    }

    #distance {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      #slider {
        position: relative;
        bottom: 6px;

        -webkit-appearance: none;
        height: 4px;
        border-radius: 2px;
        border: 0;
        background: $lightgreen;
        -webkit-transition: .2s;
        transition: opacity .2s;
      }

      #slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 14px;
        height: 14px;
        background: $midgreen;
        border-radius: 50%;
      }
    }
  }
}
