@import url('../display/variables.css');

.header {
  width: 1180px;


  display: flex;
  justify-content: space-between;
  align-items: baseline;

  border-bottom: $borderbottom;
  padding: 0 0 1px 0;
  margin: 0 0 1.875rem 0;
}

.listingDetails {
  width: 1180px;

  display: grid;
  grid-template-columns: 18.75rem 1fr 11.25rem;
  grid-column-gap: $colgap;
  
  .left {
    #listingPhotoContainer {
      width: 18.75rem;
      height: 18.75rem;
      overflow: hidden;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 100%;
      }
    }
  }

  .center {
    h4 {
      border-bottom: $borderbottom;
      padding: 0 0 1px 0;
      margin: 1.5rem 0 .5rem 0;
    }

    .bodyCopy {
      margin-top: .5rem;
    }

    .dietary {
      font-weight: 700;
      margin: 0 0 .75rem 0;
    }

    .date {
      color: $midgreen;
      font-style: italic;
    }

    .bottomRow {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      a {
        font-weight: 400;
        font-size: .8em;
        font-style: italic;
      }
    }
  }
  
  .right {
    display: flex;
    align-items: center;
    flex-direction: column;
    .userPhotoContainer {
      width: 5.125rem;
      height: 5.125rem;
      overflow: hidden;
      border-radius: 50%;
      
      display: flex;
      justify-content: center;
      align-items: center;
      
      margin: 0 0 .7rem 0;

      img{ 
        height: 100%;
      }
    }
  }
}
